div.section {
  background-color: var(--surface-card);
  padding: 16px;
  border-radius: var(--border-radius);
}

i {
  background-color: #c7eeea;
  color: #084a42;
  border-radius: 6px;
  padding: 2px 6px;
  font-size: 0.875rem;
  font-weight: 600;
  font-style: normal;
}
