// Theme Specific Variables
$primaryColor: #b1c5ff !default; //14
$primaryDarkColor: #b3b6c4 !default; //15
$primaryDarkerColor: #b1c5ff !default; //14
$primaryTextColor: #2e3038 !default; //2
$primaryLightColor: #b3b6c4 !default; // 15
$primaryAccentBg: #b1c5ff !default; // 14

$highlightBg: $primaryColor !default;
$highlightTextColor: $primaryTextColor !default;
$highlightFocusBg: darken($primaryColor, 8%) !default;

$colors: (
  "blue": #2196f3,
  "green": #4caf50,
  "yellow": #fbc02d,
  "cyan": #00bcd4,
  "pink": #e91e63,
  "indigo": #3f51b5,
  "teal": #009688,
  "orange": #f57c00,
  "bluegray": #607d8b,
  "purple": #9c27b0,
  "red": #ff4032,
  "primary": $primaryColor,
);

@import "./dark-variables";

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --mc1: #1f1f1f;
  --mc2: #2e3038;
  --mc2t: 45, 49, 55;
  --mc3: #3c3e49;
  --mc4: #eef0ff;
  --mc5: #eef0ff;
  --mc6: #c3c6d6;
  --mc7: #b1c5ff;
  --mc8: #2e3038;
  --mc9: #3c3e49;
  --mc10: #304578;
  --mc11: #eef0ff;
  --mc12: #eef0ff;
  --mc13: #eef0ff;
  --mc14: #b1c5ff;
  --mc15: #b3b6c4;
  --mc16: #5a5e6c;
  --mc17: #5a5e6c;
  --mc18: #5a5e6c;
  --mc19: #b1c5ff;
  --mc20: #b1c5ff;
  --mc21: #1f1f1f;
  --mc22: rgba(0, 0, 0, 0.6);
  --mc23: #ffffff;
  --mc24: #ffddb7;
  --mc25: #b1c5ff;
  --mc26: #4fabff;
  --mc27: #002c70;
  --mc28: #2e3038;
  --surface-a: #1e1e1e;
  --surface-b: #121212;
  --surface-c: hsla(0, 0%, 100%, 0.04);
  --surface-d: hsla(0, 0%, 100%, 0.12);
  --surface-e: #1e1e1e;
  --surface-f: #262626;
  --text-color: rgba(255, 255, 255, 0.87);
  --text-color-secondary: rgba(255, 255, 255, 0.6);
  --primary-color: #b1c5ff; // Var 14
  --primary-color-text: #2e3038; // Var 2
  --surface-0: #20262e;
  --surface-50: #363c43;
  --surface-100: #4d5158;
  --surface-200: #63676d;
  --surface-300: #797d82;
  --surface-400: #909397;
  --surface-500: #a6a8ab;
  --surface-600: #bcbec0;
  --surface-700: #d2d4d5;
  --surface-800: #e9e9ea;
  --surface-900: #ffffff;
  --content-padding: #{$panelContentPadding};
  --inline-spacing: #{$inlineSpacing};
  --border-radius: #{$borderRadius};
  --surface-ground: #20262e;
  --surface-section: #20262e;
  --surface-card: #2a323d;
  --surface-overlay: #2a323d;
  --surface-border: #3f4b5b;
  --surface-hover: rgba(255, 255, 255, 0.04);
  --maskbg: #{$maskBg};
  --highlight-bg: #{$highlightBg};
  --highlight-text-color: #{$highlightTextColor};
  --focus-ring: #{$focusShadow};
  color-scheme: dark;
}

@import "./_fonts";
@import "../../theme-base/_components";
@import "./_extensions";
