  // Theme Specific Variables
$primaryColor: #a53d00;//14
$primaryDarkColor: #7e5637;//15
$primaryDarkerColor: #a53d00;//14
$primaryTextColor: #fef1ed;//2

$colors: (
  "blue": #2196f3,
  "green": #4caf50,
  "yellow": #fbc02d,
  "cyan": #00bcd4,
  "pink": #e91e63,
  "indigo": #3f51b5,
  "teal": #009688,
  "orange": #f57c00,
  "bluegray": #607d8b,
  "purple": #9c27b0,
  "red": #ff4032,
  "primary": $primaryColor,
);

// Mandatory Designer Variables
@import "./variables/general";
@import "./variables/form";
@import "./variables/button";
@import "./variables/panel";
@import "./variables/_data";
@import "./variables/_overlay";
@import "./variables/_message";
@import "./variables/_menu";
@import "./variables/_media";
@import "./variables/_misc";

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --mc1: #ffffff;
  --mc2: #fef1ed;
  --mc2t: 254, 241, 237;
  --mc3: #fddccf;
  --mc4: #360f00;
  --mc5: #360f00;
  --mc6: #7e5637;
  --mc7: #a53d00;
  --mc8: #fddccf;
  --mc9: #fcc9b6;
  --mc10: #ffb597;
  --mc11: #360f00;
  --mc12: #360f00;
  --mc13: #360f00;
  --mc14: #a53d00;
  --mc15: #7e5637;
  --mc16: #f0bc96;
  --mc17: #f0bc96;
  --mc18: #f0bc96;
  --mc19: #cd4e00;
  --mc20: #f85f00;
  --mc21: #ffffff;
  --mc22: rgba(0, 0, 0, 0.6);
  --mc23: #ffffff;
  --mc24: #c9faf8;
  --mc25: #fcc9b6;
  --mc26: #ff9f76;
  --mc27: #591d00;
  --mc28: #ffede7;
  --surface-a: var(--mc1);
  --surface-b: var(--mc2);
  --surface-c: var(--mc2);
  --surface-d: var(--mc27);
  --surface-e: var(--mc1);
  --surface-f: var(--mc1)
  --text-color: #212529;
  --text-color-secondary: #6c757d;
  --primary-color: #a53d00; // Var 14
  --primary-color-text: #fef1ed; // Var 2
  --surface-0: var(--mc1);
  --surface-50: #fafafa;
  --surface-100: #f5f5f5;
  --surface-200: #eeeeee;
  --surface-300: #e0e0e0;
  --surface-400: #bdbdbd;
  --surface-500: #9e9e9e;
  --surface-600: #757575;
  --surface-700: #616161;
  --surface-800: #424242;
  --surface-900: #212121;
  --content-padding: #{$panelContentPadding};
  --inline-spacing: #{$inlineSpacing};
  --border-radius: #{$borderRadius};
  --surface-ground: #efefef;
  --surface-section: #ffffff;
  --surface-card: #ffffff;
  --surface-overlay: #ffffff;
  --surface-border: #dee2e6;
  --surface-hover: #e9ecef;
  --maskbg: #{$maskBg};
  --highlight-bg: #{$highlightBg};
  --highlight-text-color: #{$highlightTextColor};
  --focus-ring: #{$focusShadow};
  color-scheme: dark;
}

@import './_fonts';
@import '../../theme-base/_components';
@import './_extensions';

