  // Theme Specific Variables
$primaryColor: #7e5700;//14
$primaryDarkColor: #6e5c2e;//15
$primaryDarkerColor: #7e5700;//14
$primaryTextColor: #fdf1ea;//2

$colors: (
  "blue": #2196f3,
  "green": #4caf50,
  "yellow": #fbc02d,
  "cyan": #00bcd4,
  "pink": #e91e63,
  "indigo": #3f51b5,
  "teal": #009688,
  "orange": #f57c00,
  "bluegray": #607d8b,
  "purple": #9c27b0,
  "red": #ff4032,
  "primary": $primaryColor,
);

// Mandatory Designer Variables
@import "./variables/general";
@import "./variables/form";
@import "./variables/button";
@import "./variables/panel";
@import "./variables/_data";
@import "./variables/_overlay";
@import "./variables/_message";
@import "./variables/_menu";
@import "./variables/_media";
@import "./variables/_misc";

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --mc1: #ffffff;
  --mc2: #fdf1ea;
  --mc2t: 253, 241, 234;
  --mc3: #f4e2c8;
  --mc4: #281900;
  --mc5: #281900;
  --mc6: #6e5c2e;
  --mc7: #7e5700;
  --mc8: #f4e2c8;
  --mc9: #f0d7b3;
  --mc10: #ffcd6c;
  --mc11: #281900;
  --mc12: #281900;
  --mc13: #281900;
  --mc14: #7e5700;
  --mc15: #6e5c2e;
  --mc16: #dcc48c;
  --mc17: #dcc48c;
  --mc18: #dcc48c;
  --mc19: #e19f00;
  --mc20: #ffba33;
  --mc21: #281900;
  --mc22: rgba(0, 0, 0, 0.6);
  --mc23: #ffffff;
  --mc24: #b6c5f9;
  --mc25: #ffd5bd;
  --mc26: #ffcd6c;
  --mc27: #422c00;
  --mc28: #ffeed9;
  --surface-a: var(--mc1);
  --surface-b: var(--mc2);
  --surface-c: var(--mc2);
  --surface-d: var(--mc27);
  --surface-e: var(--mc1);
  --surface-f: var(--mc1)
  --text-color: #212529;
  --text-color-secondary: #6c757d;
  --primary-color: #7e5700; // Var 14
  --primary-color-text: #fdf1ea; // Var 2
  --surface-0: var(--mc1);
  --surface-50: #fafafa;
  --surface-100: #f5f5f5;
  --surface-200: #eeeeee;
  --surface-300: #e0e0e0;
  --surface-400: #bdbdbd;
  --surface-500: #9e9e9e;
  --surface-600: #757575;
  --surface-700: #616161;
  --surface-800: #424242;
  --surface-900: #212121;
  --content-padding: #{$panelContentPadding};
  --inline-spacing: #{$inlineSpacing};
  --border-radius: #{$borderRadius};
  --surface-ground: #efefef;
  --surface-section: #ffffff;
  --surface-card: #ffffff;
  --surface-overlay: #ffffff;
  --surface-border: #dee2e6;
  --surface-hover: #e9ecef;
  --maskbg: #{$maskBg};
  --highlight-bg: #{$highlightBg};
  --highlight-text-color: #{$highlightTextColor};
  --focus-ring: #{$focusShadow};
  color-scheme: dark;
}

@import './_fonts';
@import '../../theme-base/_components';
@import './_extensions';

