<p-toolbar>
  <div class="p-toolbar-group-start">
    <h2>Custom Theme</h2>
    <!-- <p-splitButton label="Save" icon="pi pi-check" [model]="items" styleClass="p-button-warning"></p-splitButton> -->
  </div>
  <div class="p-toolbar-group-end">
    <button
      class="icon-button primary mr-2"
      (click)="themeModeToggled()"
      *ngIf="themeMode === themeModes.Light"
    >
      <span class="pi pi-moon"></span>
    </button>
    <button
      class="icon-button secondary mr-2"
      (click)="themeModeToggled()"
      *ngIf="themeMode === themeModes.Dark"
    >
      <span class="pi pi-sun"></span>
    </button>
    <button class="icon-button tertiary mr-2" (click)="op.toggle($event)">
      <span class="pi pi-palette"></span>
    </button>
  </div>
</p-toolbar>
<p-overlayPanel #op>
  <p-listbox
    [options]="themeOptions"
    [(ngModel)]="activeTheme"
    optionLabel="text"
    [style]="{ width: '15rem' }"
    (onChange)="op.toggle($event); themeChanged()"
  ></p-listbox>
</p-overlayPanel>

<div class="container">
  <p-tabView>
    <p-tabPanel header="Buttons">
      <app-button-view></app-button-view>
    </p-tabPanel>
  </p-tabView>
</div>
