<div>
  <div>
    <button class="button primary">
      <span class="icon">
        <span class="pi pi-home"></span>
      </span>
      <span class="text">Logout</span>
    </button>
    <button class="button secondary">
      <span class="icon">
        <span class="pi pi-bars"></span>
      </span>
      <span class="text">Login With Google</span>
    </button>
    <button class="button tertiary">
      <span class="icon">
        <span class="pi pi-sun"></span>
      </span>
      <span class="text">Get Albums</span>
    </button>
    <button class="icon-button">
      <span class="pi pi-reply"></span>
    </button>
  </div>
  <div>
    <p-button
      label="Primary"
      [rounded]="true"
      [outlined]="true"
      [raised]="true"
    ></p-button>
    <p-button
      label="Secondary"
      severity="secondary"
      [rounded]="true"
      [outlined]="true"
      [raised]="true"
    ></p-button>
    <p-button
      label="Success"
      severity="success"
      [rounded]="true"
      [outlined]="true"
      [raised]="true"
      (click)="showSuccess()"
    ></p-button>
    <p-button
      label="Info"
      severity="info"
      [rounded]="true"
      [outlined]="true"
      [raised]="true"
      (click)="showInfo()"
    ></p-button>
    <p-button
      label="Warning"
      severity="warning"
      [rounded]="true"
      [outlined]="true"
      [raised]="true"
      (click)="showWarn()"
    ></p-button>
    <p-button
      label="Help"
      severity="help"
      [rounded]="true"
      [outlined]="true"
      [raised]="true"
    ></p-button>
    <p-button
      label="Danger"
      severity="danger"
      [rounded]="true"
      [outlined]="true"
      [raised]="true"
      (click)="showError()"
    ></p-button>
  </div>
  <div>
    <p-button
      label="Primary"
      [rounded]="true"
      [raised]="true"
      [text]="true"
    ></p-button>
    <p-button
      label="Secondary"
      severity="secondary"
      [rounded]="true"
      [raised]="true"
      [text]="true"
    ></p-button>
    <p-button
      label="Success"
      severity="success"
      [rounded]="true"
      [raised]="true"
      [text]="true"
      (click)="showSuccess()"
    ></p-button>
    <p-button
      label="Info"
      severity="info"
      [rounded]="true"
      [raised]="true"
      [text]="true"
      (click)="showInfo()"
    ></p-button>
    <p-button
      label="Warning"
      severity="warning"
      [rounded]="true"
      [raised]="true"
      [text]="true"
      (click)="showWarn()"
    ></p-button>
    <p-button
      label="Help"
      severity="help"
      [rounded]="true"
      [raised]="true"
      [text]="true"
    ></p-button>
    <p-button
      label="Danger"
      severity="danger"
      [rounded]="true"
      [raised]="true"
      [text]="true"
      (click)="showError()"
    ></p-button>
  </div>
  <div>
    <p-button label="Primary" [rounded]="true" [text]="true"></p-button>
    <p-button
      label="Secondary"
      severity="secondary"
      [rounded]="true"
      [text]="true"
    ></p-button>
    <p-button
      label="Success"
      severity="success"
      [rounded]="true"
      [text]="true"
      (click)="showSuccess()"
    ></p-button>
    <p-button
      label="Info"
      severity="info"
      [rounded]="true"
      [text]="true"
      (click)="showInfo()"
    ></p-button>
    <p-button
      label="Warning"
      severity="warning"
      [rounded]="true"
      [text]="true"
      (click)="showWarn()"
    ></p-button>
    <p-button
      label="Help"
      severity="help"
      [rounded]="true"
      [text]="true"
    ></p-button>
    <p-button
      label="Danger"
      severity="danger"
      [rounded]="true"
      [text]="true"
      (click)="showError()"
    ></p-button>
  </div>
  <div>
    <p-button label="Primary" [rounded]="true"></p-button>
    <p-button
      label="Secondary"
      [rounded]="true"
      severity="secondary"
    ></p-button>
    <p-button
      label="Success"
      [rounded]="true"
      severity="success"
      (click)="showSuccess()"
    ></p-button>
    <p-button
      label="Info"
      [rounded]="true"
      severity="info"
      (click)="showInfo()"
    ></p-button>
    <p-button
      label="Warning"
      [rounded]="true"
      severity="warning"
      (click)="showWarn()"
    ></p-button>
    <p-button label="Help" [rounded]="true" severity="help"></p-button>
    <p-button
      label="Danger"
      [rounded]="true"
      severity="danger"
      (click)="showError()"
    ></p-button>
  </div>
  <div>
    <p-button label="Primary" [raised]="true"></p-button>
    <p-button label="Secondary" [raised]="true" severity="secondary"></p-button>
    <p-button
      label="Success"
      [raised]="true"
      severity="success"
      (click)="showSuccess()"
    ></p-button>
    <p-button
      label="Info"
      [raised]="true"
      severity="info"
      (click)="showInfo()"
    ></p-button>
    <p-button
      label="Warning"
      [raised]="true"
      severity="warning"
      (click)="showWarn()"
    ></p-button>
    <p-button label="Help" [raised]="true" severity="help"></p-button>
    <p-button
      label="Danger"
      [raised]="true"
      severity="danger"
      (click)="showError()"
    ></p-button>
  </div>
  <div>
    <p-button label="Primary" [text]="true"></p-button>
    <p-button label="Secondary" [text]="true" severity="secondary"></p-button>
    <p-button
      label="Success"
      [text]="true"
      severity="success"
      (click)="showSuccess()"
    ></p-button>
    <p-button
      label="Info"
      [text]="true"
      severity="info"
      (click)="showInfo()"
    ></p-button>
    <p-button
      label="Warning"
      [text]="true"
      severity="warning"
      (click)="showWarn()"
    ></p-button>
    <p-button label="Help" [text]="true" severity="help"></p-button>
    <p-button
      label="Danger"
      [text]="true"
      severity="danger"
      (click)="showError()"
    ></p-button>
    <p-button label="Plain" [text]="true" [plain]="true"></p-button>
  </div>
  <div>
    <p-button label="Primary" [text]="true" [raised]="true"></p-button>
    <p-button
      label="Secondary"
      [text]="true"
      [raised]="true"
      severity="secondary"
    ></p-button>
    <p-button
      label="Success"
      [text]="true"
      [raised]="true"
      severity="success"
      (click)="showSuccess()"
    ></p-button>
    <p-button
      label="Info"
      [text]="true"
      [raised]="true"
      severity="info"
      (click)="showInfo()"
    ></p-button>
    <p-button
      label="Warning"
      [text]="true"
      [raised]="true"
      severity="warning"
      (click)="showWarn()"
    ></p-button>
    <p-button
      label="Help"
      [text]="true"
      [raised]="true"
      severity="help"
    ></p-button>
    <p-button
      label="Danger"
      [text]="true"
      [raised]="true"
      severity="danger"
      (click)="showError()"
    ></p-button>
    <p-button
      label="Plain"
      [text]="true"
      [raised]="true"
      [plain]="true"
    ></p-button>
  </div>
  <div>
    <p-button label="Primary" [outlined]="true"></p-button>
    <p-button
      label="Secondary"
      [outlined]="true"
      severity="secondary"
    ></p-button>
    <p-button
      label="Success"
      [outlined]="true"
      severity="success"
      (click)="showSuccess()"
    ></p-button>
    <p-button
      label="Info"
      [outlined]="true"
      severity="info"
      (click)="showInfo()"
    ></p-button>
    <p-button
      label="Warning"
      [outlined]="true"
      severity="warning"
      (click)="showWarn()"
    ></p-button>
    <p-button label="Help" [outlined]="true" severity="help"></p-button>
    <p-button
      label="Danger"
      [outlined]="true"
      severity="danger"
      (click)="showError()"
    ></p-button>
  </div>
  <div>
    <p-button icon="pi pi-check"></p-button>
    <p-button icon="pi pi-bookmark" severity="secondary"></p-button>
    <p-button
      icon="pi pi-search"
      severity="success"
      (click)="showSuccess()"
    ></p-button>
    <p-button
      icon="pi pi-reply"
      severity="info"
      (click)="showInfo()"
    ></p-button>
    <p-button
      icon="pi pi-bell"
      severity="warning"
      (click)="showWarn()"
    ></p-button>
    <p-button icon="pi pi-heart" severity="help"></p-button>
    <p-button
      icon="pi pi-times"
      severity="danger"
      (click)="showError()"
    ></p-button>
  </div>
  <div>
    <p-button icon="pi pi-check" [rounded]="true"></p-button>
    <p-button
      icon="pi pi-bookmark"
      [rounded]="true"
      severity="secondary"
    ></p-button>
    <p-button
      icon="pi pi-search"
      [rounded]="true"
      severity="success"
      (click)="showSuccess()"
    ></p-button>
    <p-button
      icon="pi pi-reply"
      [rounded]="true"
      severity="info"
      (click)="showInfo()"
    ></p-button>
    <p-button
      icon="pi pi-bell"
      [rounded]="true"
      severity="warning"
      (click)="showWarn()"
    ></p-button>
    <p-button icon="pi pi-heart" [rounded]="true" severity="help"></p-button>
    <p-button
      icon="pi pi-times"
      [rounded]="true"
      severity="danger"
      (click)="showError()"
    ></p-button>
  </div>
  <div>
    <p-button icon="pi pi-check" [rounded]="true" [outlined]="true"></p-button>
    <p-button
      icon="pi pi-bookmark"
      [rounded]="true"
      severity="secondary"
      [outlined]="true"
    ></p-button>
    <p-button
      icon="pi pi-search"
      [rounded]="true"
      severity="success"
      (click)="showSuccess()"
      [outlined]="true"
    ></p-button>
    <p-button
      icon="pi pi-reply"
      [rounded]="true"
      severity="info"
      [outlined]="true"
      (click)="showInfo()"
    ></p-button>
    <p-button
      icon="pi pi-bell"
      [rounded]="true"
      severity="warning"
      (click)="showWarn()"
      [outlined]="true"
    ></p-button>
    <p-button
      icon="pi pi-heart"
      [rounded]="true"
      severity="help"
      [outlined]="true"
    ></p-button>
    <p-button
      icon="pi pi-times"
      [rounded]="true"
      severity="danger"
      [outlined]="true"
      (click)="showError()"
    ></p-button>
  </div>
  <div>
    <p-button
      icon="pi pi-check"
      [rounded]="true"
      [text]="true"
      [raised]="true"
    ></p-button>
    <p-button
      icon="pi pi-bookmark"
      [rounded]="true"
      [text]="true"
      [raised]="true"
      severity="secondary "
    ></p-button>
    <p-button
      icon="pi pi-search"
      [rounded]="true"
      [text]="true"
      [raised]="true"
      severity="success"
      (click)="showSuccess()"
    ></p-button>
    <p-button
      icon="pi pi-reply"
      [rounded]="true"
      [text]="true"
      [raised]="true"
      severity="info"
      (click)="showInfo()"
    ></p-button>
    <p-button
      icon="pi pi-bell"
      [rounded]="true"
      [text]="true"
      [raised]="true"
      severity="warning"
      (click)="showWarn()"
    ></p-button>
    <p-button
      icon="pi pi-heart"
      [rounded]="true"
      [text]="true"
      [raised]="true"
      severity="help "
    ></p-button>
    <p-button
      icon="pi pi-times"
      [rounded]="true"
      [text]="true"
      [raised]="true"
      severity="danger"
      (click)="showError()"
    ></p-button>
  </div>
  <div>
    <p-button icon="pi pi-check" [rounded]="true" [text]="true"></p-button>
    <p-button
      icon="pi pi-bookmark"
      [rounded]="true"
      [text]="true"
      severity="secondary "
    ></p-button>
    <p-button
      icon="pi pi-search"
      [rounded]="true"
      [text]="true"
      severity="success"
      (click)="showSuccess()"
    ></p-button>
    <p-button
      icon="pi pi-reply"
      [rounded]="true"
      [text]="true"
      severity="info"
      (click)="showInfo()"
    ></p-button>
    <p-button
      icon="pi pi-bell"
      [rounded]="true"
      [text]="true"
      severity="warning"
      (click)="showWarn()"
    ></p-button>
    <p-button
      icon="pi pi-heart"
      [rounded]="true"
      [text]="true"
      severity="help "
    ></p-button>
    <p-button
      icon="pi pi-times"
      [rounded]="true"
      [text]="true"
      severity="danger"
      (click)="showError()"
    ></p-button>
  </div>
</div>

<p-toast></p-toast>
