/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@import "./assets/custom-themes/blue";
@import "./assets/custom-themes/dark-green";
@import "./assets/custom-themes/green";
@import "./assets/custom-themes/orange";
@import "./assets/custom-themes/pink-red";
@import "./assets/custom-themes/purple";
@import "./assets/custom-themes/red";
@import "./assets/custom-themes/teal";
@import "./assets/custom-themes/yellow-brown";
@import "./assets/custom-themes/aqua";
@import "./assets/custom-themes/violet";
@import "./assets/custom-themes/dark-blue";
@import "./assets/custom-themes/gold-brown";

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: var(--mc1);
  color: var(--mc5);

  p-toolbar {
    z-index: 1;
    position: relative;
    .p-toolbar {
      padding: 16px;
      background: var(--mc2);
      border: 0;
      border-radius: 0;
      box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024,
        0 3px 14px 2px #0000001f;
    }
  }

  .container {
    flex: 1 1 auto;
    background: var(--mc1);
    padding: 16px;
  }
}

h2 {
  color: var(--mc6);
  margin: 0;
}

.mr-2,
.mr-md {
  margin-right: 16px;
}

.secondary-bg {
  background: var(--mc2);
}
.primary-bg {
  background: var(--mc1);
}

// Cmponennts
button.button {
  height: 36px;
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 18px !important;
  border: none;
  outline: 0;
  display: inline-flex;
  align-items: center;

  .icon {
    height: 18px;
    line-height: 18px;
    width: 18px;
    margin-left: 12px;
    display: inline-block;
  }

  .text {
    margin: 0px 16px 0px 8px;
  }

  &.primary {
    background: var(--mc14);
    color: var(--mc2);

    .icon {
      color: var(--mc2) !important;
    }

    &:hover {
      background-color: var(--mc10);
      color: var(--mc5);

      .icon {
        color: var(--mc14) !important;
      }
    }
  }

  &.secondary {
    background: var(--mc3);
    color: var(--mc5);

    .icon {
      color: var(--mc14) !important;
    }

    &:hover {
      background-color: var(--mc9);
      color: var(--mc5);

      .icon {
        color: var(--mc14) !important;
      }
    }
  }

  &.tertiary {
    background-color: var(--mc2);
    color: var(--mc5) !important;
    border: 1px var(--mc16) solid;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    .icon {
      color: var(--mc14);
    }

    &:hover {
      background-color: var(--mc3);

      .icon {
        color: var(--mc14) !important;
      }
    }
  }
}

button.icon-button {
  border-radius: 50px;
  height: 36px;
  width: 36px;
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  border: none;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--mc14);

  &:hover {
    color: var(--mc10);
  }

  &.primary {
    background: var(--mc14);
    color: var(--mc2);

    .icon {
      color: var(--mc2) !important;
    }

    &:hover {
      background-color: var(--mc10);
      color: var(--mc5);

      .icon {
        color: var(--mc14) !important;
      }
    }
  }

  &.secondary {
    background: var(--mc3);
    color: var(--mc5);

    .icon {
      color: var(--mc14) !important;
    }

    &:hover {
      background-color: var(--mc9);
      color: var(--mc5);

      .icon {
        color: var(--mc14) !important;
      }
    }
  }

  &.tertiary {
    background-color: var(--mc2);
    color: var(--mc5) !important;
    border: 1px var(--mc16) solid;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    .icon {
      color: var(--mc14);
    }

    &:hover {
      background-color: var(--mc3);

      .icon {
        color: var(--mc14) !important;
      }
    }
  }
}
