// Theme Specific Variables
$primaryColor: #85b4b2 !default; //14
$primaryDarkColor: #b8cbc4 !default; //15
$primaryDarkerColor: #85b4b2 !default; //14
$primaryTextColor: #293230 !default; //2
$primaryLightColor: #b8cbc4 !default; // 15
$primaryAccentBg: #85b4b2 !default; // 14

$highlightBg: $primaryColor !default;
$highlightTextColor: $primaryTextColor !default;
$highlightFocusBg: darken($primaryColor, 8%) !default;

@import "../dark-variables";
@import "../fonts";
@import "../../../theme-base/_components";
@import "../_extensions";

:root {
  --mc1: #1f1f1f;
  --mc2: #293230;
  --mc2t: 41, 50, 48;
  --mc3: #3c4946;
  --mc4: #f1fffe;
  --mc5: #f1fffe;
  --mc6: #b8cbc4;
  --mc7: #85b4b2;
  --mc8: #293230;
  --mc9: #3c4946;
  --mc10: #005144;
  --mc11: #f1fffe;
  --mc12: #f1fffe;
  --mc13: #f1fffe;
  --mc14: #85b4b2;
  --mc15: #b8cbc4;
  --mc16: #51625d;
  --mc17: #51625d;
  --mc18: #51625d;
  --mc19: #85b4b2;
  --mc20: #85b4b2;
  --mc21: #1f1f1f;
  --mc22: rgba(0, 0, 0, 0.6);
  --mc23: #ffffff;
  --mc24: #ffafd6;
  --mc25: #a0cfce;
  --mc26: #0ad6d6;
  --mc27: #00382f;
  --mc28: #293230;
  color-scheme: dark;
}
